body {
  margin: 0;
}

div.containerBody {
  /* display: flex;
  flex-direction: row; */
  width: 100%;
}

/* nav bar styling */
ul.navigation {
  border-bottom: rgb(169, 169, 169) solid 1px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
}

li.navBttns {
  float: right;
  margin-top: 5px;
}

li.home{
    float: left;
    font-size: 1.5em;
}

a.homeLink {
    color: goldenrod;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

/* stock list styling */
.triangle {
    width: 15px;
    margin: 0px 10px;
}

div.stockList {
  margin-top: 55px;
  /* flex-grow: 2; */
  width: 70%;
}

.stockBox {
  padding-left: 10px;
  border: rgb(169, 169, 169) solid 1px;
  padding-top: 0;
  margin-top: 0;
}

/* stock cateogry box styling */
/* div.categoryBox {
  border: gray 1px solid;
} */
div.userBox {
  margin-top: 54px;
  /* flex-grow: 1; */
  border: rgb(169, 169, 169) solid 1px;
  background-color: white;
  position: fixed;
  width: 30%;
  right: -1;
  top: 0px;
  z-index: 1;
}
div.categoryHeader {
  margin-top: 0;
  padding: 7px 0;
  font-size: 1.2em;
  color: goldenrod;
  background-color: #333;
  padding-left: 7px;
}
div.asset {
    border: rgb(169, 169, 169) solid 1px;
    margin: 5px;
}
.userNote {
  padding-left: 10px;
}

